openapi: 3.0.3
info:
  title: Star Wars API (SWAPI)
  description: >
    The Star Wars API provides data about the Star Wars universe,
    including people, films, starships, vehicles, species and planets.
    No authentication required.
  version: "1.0.0"
  contact:
    url: https://swapi.dev

servers:
  - url: https://swapi.dev/api

paths:
  /people/:
    get:
      operationId: listPeople
      summary: List all people
      description: Returns a paginated list of all Star Wars characters.
      parameters:
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        "200":
          description: A paginated list of people
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPeople'

  /people/{id}/:
    get:
      operationId: getPerson
      summary: Get a person by ID
      description: Returns a single Star Wars character by their ID.
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: A Star Wars character
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        "404":
          description: Not found

  /films/:
    get:
      operationId: listFilms
      summary: List all films
      description: Returns a paginated list of all Star Wars films.
      parameters:
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        "200":
          description: A paginated list of films
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFilms'

  /films/{id}/:
    get:
      operationId: getFilm
      summary: Get a film by ID
      description: Returns a single Star Wars film by its ID.
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: A Star Wars film
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Film'
        "404":
          description: Not found

  /starships/:
    get:
      operationId: listStarships
      summary: List all starships
      description: Returns a paginated list of all Star Wars starships.
      parameters:
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        "200":
          description: A paginated list of starships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStarships'

  /starships/{id}/:
    get:
      operationId: getStarship
      summary: Get a starship by ID
      description: Returns a single Star Wars starship by its ID.
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: A Star Wars starship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Starship'
        "404":
          description: Not found

  /vehicles/:
    get:
      operationId: listVehicles
      summary: List all vehicles
      description: Returns a paginated list of all Star Wars vehicles.
      parameters:
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        "200":
          description: A paginated list of vehicles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedVehicles'

  /vehicles/{id}/:
    get:
      operationId: getVehicle
      summary: Get a vehicle by ID
      description: Returns a single Star Wars vehicle by its ID.
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: A Star Wars vehicle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        "404":
          description: Not found

  /species/:
    get:
      operationId: listSpecies
      summary: List all species
      description: Returns a paginated list of all Star Wars species.
      parameters:
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        "200":
          description: A paginated list of species
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSpecies'

  /species/{id}/:
    get:
      operationId: getSpecies
      summary: Get a species by ID
      description: Returns a single Star Wars species by its ID.
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: A Star Wars species
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Species'
        "404":
          description: Not found

  /planets/:
    get:
      operationId: listPlanets
      summary: List all planets
      description: Returns a paginated list of all Star Wars planets.
      parameters:
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        "200":
          description: A paginated list of planets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPlanets'

  /planets/{id}/:
    get:
      operationId: getPlanet
      summary: Get a planet by ID
      description: Returns a single Star Wars planet by its ID.
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: A Star Wars planet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Planet'
        "404":
          description: Not found

components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: The resource ID
      schema:
        type: integer
        example: 1

    SearchParam:
      name: search
      in: query
      required: false
      description: Search term to filter results by name/title
      schema:
        type: string
        example: Luke

    PageParam:
      name: page
      in: query
      required: false
      description: Page number for pagination (10 results per page)
      schema:
        type: integer
        default: 1
        example: 1

  schemas:
    PaginationBase:
      type: object
      properties:
        count:
          type: integer
          description: Total number of resources
        next:
          type: string
          nullable: true
          description: URL to the next page
        previous:
          type: string
          nullable: true
          description: URL to the previous page

    PaginatedPeople:
      allOf:
        - $ref: '#/components/schemas/PaginationBase'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Person'

    PaginatedFilms:
      allOf:
        - $ref: '#/components/schemas/PaginationBase'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Film'

    PaginatedStarships:
      allOf:
        - $ref: '#/components/schemas/PaginationBase'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Starship'

    PaginatedVehicles:
      allOf:
        - $ref: '#/components/schemas/PaginationBase'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Vehicle'

    PaginatedSpecies:
      allOf:
        - $ref: '#/components/schemas/PaginationBase'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Species'

    PaginatedPlanets:
      allOf:
        - $ref: '#/components/schemas/PaginationBase'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Planet'

    Person:
      type: object
      properties:
        name:
          type: string
          example: Luke Skywalker
        height:
          type: string
          example: "172"
        mass:
          type: string
          example: "77"
        hair_color:
          type: string
          example: blond
        skin_color:
          type: string
          example: fair
        eye_color:
          type: string
          example: blue
        birth_year:
          type: string
          example: 19BBY
        gender:
          type: string
          example: male
        homeworld:
          type: string
          format: uri
        films:
          type: array
          items:
            type: string
            format: uri
        species:
          type: array
          items:
            type: string
            format: uri
        vehicles:
          type: array
          items:
            type: string
            format: uri
        starships:
          type: array
          items:
            type: string
            format: uri
        url:
          type: string
          format: uri
        created:
          type: string
          format: date-time
        edited:
          type: string
          format: date-time

    Film:
      type: object
      properties:
        title:
          type: string
          example: A New Hope
        episode_id:
          type: integer
          example: 4
        opening_crawl:
          type: string
        director:
          type: string
          example: George Lucas
        producer:
          type: string
          example: Gary Kurtz, Rick McCallum
        release_date:
          type: string
          format: date
          example: "1977-05-25"
        characters:
          type: array
          items:
            type: string
            format: uri
        planets:
          type: array
          items:
            type: string
            format: uri
        starships:
          type: array
          items:
            type: string
            format: uri
        vehicles:
          type: array
          items:
            type: string
            format: uri
        species:
          type: array
          items:
            type: string
            format: uri
        url:
          type: string
          format: uri
        created:
          type: string
          format: date-time
        edited:
          type: string
          format: date-time

    Starship:
      type: object
      properties:
        name:
          type: string
          example: Death Star
        model:
          type: string
          example: DS-1 Orbital Battle Station
        manufacturer:
          type: string
        cost_in_credits:
          type: string
        length:
          type: string
        max_atmosphering_speed:
          type: string
        crew:
          type: string
        passengers:
          type: string
        cargo_capacity:
          type: string
        consumables:
          type: string
        hyperdrive_rating:
          type: string
        MGLT:
          type: string
        starship_class:
          type: string
        pilots:
          type: array
          items:
            type: string
            format: uri
        films:
          type: array
          items:
            type: string
            format: uri
        url:
          type: string
          format: uri
        created:
          type: string
          format: date-time
        edited:
          type: string
          format: date-time

    Vehicle:
      type: object
      properties:
        name:
          type: string
          example: Sand Crawler
        model:
          type: string
        manufacturer:
          type: string
        cost_in_credits:
          type: string
        length:
          type: string
        max_atmosphering_speed:
          type: string
        crew:
          type: string
        passengers:
          type: string
        cargo_capacity:
          type: string
        consumables:
          type: string
        vehicle_class:
          type: string
        pilots:
          type: array
          items:
            type: string
            format: uri
        films:
          type: array
          items:
            type: string
            format: uri
        url:
          type: string
          format: uri
        created:
          type: string
          format: date-time
        edited:
          type: string
          format: date-time

    Species:
      type: object
      properties:
        name:
          type: string
          example: Human
        classification:
          type: string
          example: mammal
        designation:
          type: string
          example: sentient
        average_height:
          type: string
        skin_colors:
          type: string
        hair_colors:
          type: string
        eye_colors:
          type: string
        average_lifespan:
          type: string
        homeworld:
          type: string
          format: uri
          nullable: true
        language:
          type: string
        people:
          type: array
          items:
            type: string
            format: uri
        films:
          type: array
          items:
            type: string
            format: uri
        url:
          type: string
          format: uri
        created:
          type: string
          format: date-time
        edited:
          type: string
          format: date-time

    Planet:
      type: object
      properties:
        name:
          type: string
          example: Tatooine
        rotation_period:
          type: string
        orbital_period:
          type: string
        diameter:
          type: string
        climate:
          type: string
        gravity:
          type: string
        terrain:
          type: string
        surface_water:
          type: string
        population:
          type: string
        residents:
          type: array
          items:
            type: string
            format: uri
        films:
          type: array
          items:
            type: string
            format: uri
        url:
          type: string
          format: uri
        created:
          type: string
          format: date-time
        edited:
          type: string
          format: date-time
